<h2 id="title">Welcome to ember-cli-puppet</h2>

<div data-test>
  {{puppet-counter count=2 onPuppet=(action (mut instance))}}
</div>
<button data-call {{action (puppet-call instance 'inc')}}>Inc</button>
<button data-send {{action (puppet-send instance 'inc10')}}>Inc 10</button>

<button data-call-invalid {{action (puppet-call instance_empty 'inc')}}>Invalid Call</button>
<button data-send-invalid {{action (puppet-send instance_empty 'inc10')}}>Invalid Send</button>